In [4]:
name = "Alex"
for x in (name):
    print (x)

A
l
e
x

In [8]:
message = "A kong string with a silly typo"
new_message = message[0:2] + "L" + message[3:]
print(new_message)

A Long string with a silly typo

In [11]:
pets = "Dogs & Cats"
"Dragons" in pets
"Cats" in pets

True

In [12]:
pets = "Dogs & Cats"
pets.index("&")

5

In [31]:
animals = "Lions tigers and bears"
print("horses" in animals)
print("tigers" in animals)

False
True

In [34]:
print("tiger".upper())
print("Tiger".lower())

TIGER
tiger

In [38]:
print("   yes   ")
print("   yes   ".strip())
print("   yes   ".rstrip())
print("   yes   ".lstrip())

   yes
yes
   yes
yes

In [43]:
"adsf dsaf dsfa eirft df sa, dsfdslf ,d fsf er  gdf mvl;kx p df ljkfs".count("f")

12

In [47]:
print("Forest".endswith("est"))
print("Forest".isnumeric())
print("4168489".isnumeric())

True
False
True

In [51]:
print(" ".join(["join", "by", "space"]))
print("...".join(["Join", "by", "triple", "dots"]))
print("Split that line".split())

join by space
Join...by...triple...dots
['Split', 'that', 'line']

In [56]:
name = "Jack"
name2 = "Tommy"
number = len(name) * 3
print("Hello {}, your lucky number is: {}".format(name, number))
print("Hello {}, your lucky number is: {}".format(name, len(name2)*9))

Hello Jack, your lucky number is: 12
Hello Jack, your lucky number is: 45

In [58]:
price = 7.5
with_tax = price * 1.09
print(price, with_tax)
print("Base price ${:.2f}. with Tax: ${:.2f}".format(price, with_tax))

7.5 8.175
Base price $7.50. with Tax: $8.18

In [70]:
def to_celsius(temp):
    return (temp-32) * 5/9

for x in range(0, 101, 10):
    print("Temparatures: {:>10.2F} F | {:>10.3f} C".format(x, to_celsius(x)))

Temparatures:       0.00 F |    -17.778 C
Temparatures:      10.00 F |    -12.222 C
Temparatures:      20.00 F |     -6.667 C
Temparatures:      30.00 F |     -1.111 C
Temparatures:      40.00 F |      4.444 C
Temparatures:      50.00 F |     10.000 C
Temparatures:      60.00 F |     15.556 C
Temparatures:      70.00 F |     21.111 C
Temparatures:      80.00 F |     26.667 C
Temparatures:      90.00 F |     32.222 C
Temparatures:     100.00 F |     37.778 C

In [93]:
text = "How much plastic would a plasticchuck chuck"
print(text)
text2 = text.replace("plastic", "wood")
print(text2)
text3 = text2.split()
print(text3)
text4 = "_".join(text3)
print(text4)

How much plastic would a plasticchuck chuck
How much wood would a woodchuck chuck
['How', 'much', 'wood', 'would', 'a', 'woodchuck', 'chuck']
How_much_wood_would_a_woodchuck_chuck

In [124]:
basket = [("peaches", 3.0, 2.99), ("Pears", 5.0, 1.66), ("Plums", 2.5, 3.99)]

subtotal = 0
for items in basket:
    items = fruit, weight, unit_price
    subtotal += (weight * unit_price)
    
tax_rate = 0.06625
tax_amount = subtotal * tax_rate
total = subtotal + tax_amount

print("Subtotal: ", subtotal)
print("Sales Tax: ", tax_amount)
print("Total: ", total)

print("Subtotal : {:^6.2f}".format(subtotal))
print("Sales Tax: {:^6.2f}".format(tax_amount))
print("Total    : {:^6.2f}".format(total))

Subtotal:  26.910000000000004
Sales Tax:  1.7827875000000004
Total:  28.692787500000005
Subtotal : 26.91
Sales Tax:  1.78
Total    : 28.69

In [130]:
def mirrored_string(my_string):
    forwards = ""
    backwards = ""
    for character in my_string:
        if character.isalpha():
            forwards += character
            backwards = character + backwards

    if forwards.lower() == backwards.lower():
        return True
    else:
        return False


print(mirrored_string("12 Noon"))
print(mirrored_string("was it a car or cat I saw"))
print(mirrored_string("Eve, Madam Eve"))

True
False
True

In [132]:
def convert_weight(ounces):
    pounds = ounces/16
    result = "{:.2f} ounces equals {:.2f} pounds.".format(ounces,pounds)
    return result

print(convert_weight(12))
print(convert_weight(50.5))
print(convert_weight(16))

12.00 ounces equals 0.75 pounds.
50.50 ounces equals 3.16 pounds.
16.00 ounces equals 1.00 pounds.

In [134]:
def username(last_name, birth_year):
    result = ("{}{}".format(last_name[:3], str(birth_year)))
    return result

print(username("Inanov", 1985))
print(username("Rodriguez", 2000))
print(username("Deng", 1991))

Ina1985
Rod2000
Den1991

In [144]:
def replace_date(schedule, old_date, new_date):
    if schedule.endswith(old_date):
        p = len(old_date)

        new_schedule = schedule[:-p] + schedule[-p:].replace(old_date, new_date)
        return new_schedule
    return schedule
    
print(replace_date("Last year’s annual report will be released in March 2023", "2023", "2024")) 
print(replace_date("In April, the CEO will hold a conference", "April", "May")) 
print(replace_date("The convention is scheduled for October", "October", "June"))

Last year’s annual report will be released in March 2024
In April, the CEO will hold a conference
The convention is scheduled for June

In [7]:
list = [ 5, 6, 7, 8]
print(type(list))
print(list)
print(len(list))
print(5 in list)
print(list[0])
print(list[:3])

<class 'list'>
[5, 6, 7, 8]
4
True
5
[5, 6, 7]

In [10]:
def get_word(sentence, n):
    if n>0:
        words = sentence.split()
        if n<= len(words):
            return words[n-1]
    return ("")

print(get_word("This is a lesson about list", 4))
print(get_word("This is a lesson about list", -4))
print(get_word("Now we are cooking.", 1))
print(get_word("Now we are cooking.", 5))

lesson

Now

In [19]:
fruits = ["Pinapple", "Banana", "Apple", "Melom"]
print(fruits)
fruits.append("Kiwi")
print(fruits)
fruits.insert(0, "Orange")
print(fruits)
fruits.insert(25, "Peach")
print(fruits)
fruits.remove("Banana")
print(fruits)
fruits.pop(3)
print(fruits)
fruits[2] = "Strawberry"
print(fruits)

['Pinapple', 'Banana', 'Apple', 'Melom']
['Pinapple', 'Banana', 'Apple', 'Melom', 'Kiwi']
['Orange', 'Pinapple', 'Banana', 'Apple', 'Melom', 'Kiwi']
['Orange', 'Pinapple', 'Banana', 'Apple', 'Melom', 'Kiwi', 'Peach']
['Orange', 'Pinapple', 'Apple', 'Melom', 'Kiwi', 'Peach']
['Orange', 'Pinapple', 'Apple', 'Kiwi', 'Peach']
['Orange', 'Pinapple', 'Strawberry', 'Kiwi', 'Peach']

In [24]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

result = convert_seconds(5000)
print(type(result))
print(result)
hours, minutes, seconds = result
print(hours, minutes, seconds)

hours, minutes, seconds = convert_seconds(1000)
print(hours, minutes, seconds)

<class 'tuple'>
(1, 23, 20)
1 23 20
0 16 40

In [26]:
def file_size(file_info):
    name, type, size = file_info
    return ("{:.2f}".format(size/1024))

print(file_size(("Class Assignment", "docx", 17875)))
print(file_size(("Notes", "txt", 496)))
print(file_size(("Program", "py", 1237)))

17.46
0.48
1.21

In [27]:
animals = ['Lion', 'Zebra', 'Dolphin', 'Monkey']
chars = 0
for animal in animals:
    chars += len(animal)

print("Total characters: {}, Average length: {}".format(chars, chars/len(animals)))

Total characters: 22, Average length: 5.5

In [29]:
winners = ["Alex", "jen", "Katty"]

for index, person in enumerate(winners):
    print("{} - {}".format(index + 1, person))

1 - Alex
2 - jen
3 - Katty

In [33]:
def full_emails(people):
    result = []
    for email, name in people:
        result.append("{} <{}>".format(name, email))
    return result

print(full_emails([("alex@gmail.com", "Alex Diego"), ("shay@hotmail.com", "Shay Brandt")]))

['Alex Diego <alex@gmail.com>', 'Shay Brandt <shay@hotmail.com>']

In [35]:
store = []
for i in range (10):
    store.append(i+1)

print(store)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
def skip_elements(elements):
    result = []
    for index, element in enumerate(elements):
        if index % 2 == 0:
            result.append(element)
    return result

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"]))
print(skip_elements(["Orange", "Pineapple", "strawberry", "Kiwi", "Peach"]))

['a', 'c', 'e', 'g']
['Orange', 'strawberry', 'Peach']

In [52]:
def div_by_five(numbers):
    result = []
    for index, number in enumerate(numbers):
        if index %5 ==0:
            result.append(number)
    return result

numbers = [12, 34, 54, 234, 45, 44, 33, 11, 56, 89, 100]
print(div_by_five(numbers))

[12, 44, 100]

In [62]:
languages = [ 'Python', 'Perl', 'Ruby', 'Go', 'Java', 'C', 'C#']
lengths = []
for language in languages:
    lengths.append(len(language))
print(lengths)

#another form
lengths  = [len(language) for language in languages]
print(lengths)

[6, 4, 4, 2, 4, 1, 2]
[6, 4, 4, 2, 4, 1, 2]

In [63]:
z = []
for x in range(0,21):
    if x%3 ==0:
        z.append(x)
print(z)

#another form
z = [x for x in range(0, 21) if x%3 == 0]
print( z)

[0, 3, 6, 9, 12, 15, 18]
[0, 3, 6, 9, 12, 15, 18]

In [70]:
def odd_numbers(n):
    return [x for x in range(1, n+1) if n % 2 != 0]

print(odd_numbers(5))
print(odd_numbers(9))
print(odd_numbers(11))
print(odd_numbers(1))
print(odd_numbers(-1))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1]
[]

In [ ]:
past_due = [ i for i in invoices if i.age > 30 and not

In [74]:
print("List Comprehension Result:")
print([x for x in range(1,101) if x%10 == 0])

print("Long form code Result:")
list = []
for x in range (1, 101):
    if x % 10 == 0:
        list.append(x)

print(list)

List Comprehension Result:
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Long form code Result:
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [76]:
def squares(start,end):
    return [x**2 for x in range(start, end+1)]

print(squares(2,3))
print(squares(1,5))
print(squares(0,10))

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
tuple = (1, 2, ['a', 'b', 'c'])
print(tuple)

tuple [2][0] = 'x'
print(tuple)

(1, 2, ['a', 'b', 'c'])
(1, 2, ['x', 'b', 'c'])

In [80]:
def calculate_numbers(a, b):
    return a+b, a-b, a*b, a//b

print(calculate_numbers(10, 2))

#unpack
add, sub, mul, div = calculate_numbers(10,2)
print(add)
print(mul)

(12, 8, 20, 5)
12
20

In [81]:
years = ["January 2023", "May 2025", "April 2023", "August 2024", "September 2025", "December 2023"]
updated_years = []

for year in years:
    if year.endswith("2023"):
        updated_years.append(year.replace("2023", "2024"))
    else:
        updated_years.append(year)
print(years)
print(updated_years)

['January 2023', 'May 2025', 'April 2023', 'August 2024', 'September 2025', 'December 2023']
['January 2024', 'May 2025', 'April 2024', 'August 2024', 'September 2025', 'December 2024']

In [83]:
years = ["January 2023", "May 2025", "April 2023", "August 2024", "September 2025", "December 2023"]

updated_years = [year.replace("2023", "2024") if year[-4:] == "2023" else year for year in years]
print(years)
print(updated_years)

['January 2023', 'May 2025', 'April 2023', 'August 2024', 'September 2025', 'December 2023']
['January 2024', 'May 2025', 'April 2024', 'August 2024', 'September 2025', 'December 2024']

In [102]:
def change_string(given_string):
    new_string = ""
    new_list = given_string.split()

    for string in new_list:
        new_string += string[1:] + "-" + string[0] + " "
        
    return new_string

print(change_string("1one 2two 3three 4four 5five"))

one-1 two-2 three-3 four-4 five-5

In [94]:
def list_elements(list_name, elements):
    return "The " + list_name + " list includs: " + ", ".join(elements)

print(list_elements("Printers", ["color printer", "Black & White Printer", "3-D Printer"]))

The Printers list includs: color printer, Black & White Printer, 3-D Printer

In [ ]:
def add_one(number):
    return number + 1

numbers = [1, 2, 3, 4, 5]
result = map(add_one, numbers)
print(list(result))

#Output: [2, 3, 4, 5, 6]

In [ ]:
names = ['Alex', 'Jen', 'Katty']
ages = [24, 26, 21]

combine = zip(names, ages)

print(list(combine))

# Outputs: [('Alice', 25), ('Bob', 30), ('Charlie', 35)]

In [109]:
#Dictionaries
files = {"jpg": 10, "txt": 14, "csv": 2, "py": 24}
print(files)
print(files["txt"])
print("jpg" in files)
print("html" in files)
files["cfg"] = 8
print(files)
files["csv"] = 17
print(files)
del files["cfg"]
print(files)

print(files.keys())
print(files.values())

{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 24}
14
True
False
{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 24, 'cfg': 8}
{'jpg': 10, 'txt': 14, 'csv': 17, 'py': 24, 'cfg': 8}
{'jpg': 10, 'txt': 14, 'csv': 17, 'py': 24}
dict_keys(['jpg', 'txt', 'csv', 'py'])
dict_values([10, 14, 17, 24])

In [110]:
files = {"jpg": 10, "txt": 14, "csv": 2, "py": 24}
for extension in files:
    print(extension)

for values in files.values(): 
    print(values)

for keys in files.keys():
    print(keys)

jpg
txt
csv
py
10
14
2
24
jpg
txt
csv
py

In [107]:
files = {"jpg": 10, "txt": 14, "csv": 2, "py": 24}
for ext, ammount in files.items():
    print("There are {} files with the .{} extension.".format(ammount, ext))

There are 10 files with the .jpg extension.
There are 14 files with the .txt extension.
There are 2 files with the .csv extension.
There are 24 files with the .py extension.

In [113]:
def count_letters(text):
    result = {}
    for letter in text:
        if letter not in result:
            result[letter] = 0
        result[letter] += 1
    return result
print(count_letters("aaaa"))
print(count_letters("tenant"))
print(count_letters("a long string with a lot of letters"))

{'a': 4}
{'t': 2, 'e': 1, 'n': 2, 'a': 1}
{'a': 2, ' ': 7, 'l': 3, 'o': 3, 'n': 2, 'g': 2, 's': 2, 't': 5, 'r': 2, 'i': 2, 'w': 1, 'h': 1, 'f': 1, 'e': 2}

In [114]:
beasts = {"Octopuses": "tentacles", "Dolphins": "fins", "Rhinos": "horns"}
for animal, have in beasts.items():
    print("{} have {}".format(animal, have))

Octopuses have tentacles
Dolphins have fins
Rhinos have horns

In [117]:
def sum_server_use_time(server):
    total_use_time = 0.0

    for key, value in server.items():
        total_use_time += server[key]
    return round(total_use_time, 2)
FileServer = {"EndUser1": 2.25, "EndUser2": 4.5, "EndUser3": 1, "EndUser4": 3.75, "EndUser5": 0.6, "EndUser6": 8}
print(sum_server_use_time(FileServer))

20.1

In [118]:
def list_full_names(employee):
    full_names = []
    for last_name, first_names in employee.items():
        for first_name in first_names:
            full_names.append(first_name + " " + last_name)
    return(full_names)
print(list_full_names({"Ali": ["Muhammad", "Amir", "Malik"], "Devi": ["Ram", "Amaira"], "Chen": ["Feng", "Li"]}))

['Muhammad Ali', 'Amir Ali', 'Malik Ali', 'Ram Devi', 'Amaira Devi', 'Feng Chen', 'Li Chen']

In [124]:
def invert_resource_dict(resource_dictionary):
    new_dictionary = {}
    for resource_group, resources in resource_dictionary.items():
        for resource in resources:
            if resource in new_dictionary:
                new_dictionary[resource].append(resource_group)
            else:
                new_dictionary[resource] = [resource_group]
    return(new_dictionary)

print(invert_resource_dict({"Hard Drives": ["IDE HDDs", "SCSI HDDs"],
        "PC Parts":  ["IDE HDDs", "SCSI HDDs", "High-end video cards", "Basic video cards"], "Video Cards": ["High-end video cards", "Basic video cards"]}))

{'IDE HDDs': ['Hard Drives', 'PC Parts'], 'SCSI HDDs': ['Hard Drives', 'PC Parts'], 'High-end video cards': ['PC Parts', 'Video Cards'], 'Basic video cards': ['PC Parts', 'Video Cards']}

In [126]:
a11 = {'a': [5,6,7,8], 'b': [5,6,0,9]}
b11 = {'a': [0], 'c':[7,8,6]}
a11.update(b11)
print(a11)

{'a': [0], 'b': [5, 6, 0, 9], 'c': [7, 8, 6]}

In [133]:
arr = [7,6,8,6,86]
max(arr)
len(arr)

5