In [1]:
print("Holaa..")

Holaa..

In [2]:
name = "Brook"
print("Holla, "+ name)

Holla, Brook

In [4]:
print(4+5)
print(9*7)
print(1/3)
print(1//3)
print(2**2)

9
63
0.3333333333333333
0
4

In [5]:
#Multiplication, division, adition & Subtraction
print(3*8/2+5-1)

print(4**5)
print(4**0.5)

x = 4
y = 5
print(x ** y)

16.0
1024
2.0
1024

In [7]:
# Aiisgnment of valus to the variables:

years = 10
weeks_in_year = 52

weeks_in_a_decade = years * weeks_in_year 

print(weeks_in_a_decade)

520